.cards{
    max-width: 300px;
    // background-color: rgb(47, 241, 255) !important;
    background: linear-gradient(40deg, rgba(0,108,255,1) 11%, rgba(43,36,159,1) 95%, rgba(10,10,180,1) 100%) ;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    height: auto;
    color: wheat !important;
    font-family: Arial, Helvetica, sans-serif !important;

}